.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .header {
        background-color: darken($bg, 10%);
        padding: 4px;
        border-bottom: 1px solid $border;
        z-index: 2;
    }
    .body {
        flex: 1;
        display: flex;
        position: relative;
        background-color: darken($bg, 15%);
        z-index: 1;
        & > * {
            z-index: 1;
        }
        .background {
            position: absolute;
            left: 0;
            right: 0;
            height: 100%;
            z-index: 0;
        }
    }
    .footer {
        background-color: darken($bg, 10%);
        z-index: 1;
        display: flex;
        flex-direction: row-reverse;
        padding: 4px;
        border-top: 1px solid $border;
        & > * {
            margin-left: 4px;
        }
    }
}
