@import 'variables';
@import 'base';
@import 'app';
@import 'container';

@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~ol/ol.css';
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/cobalt.css';
@import '~codemirror/addon/hint/show-hint.css';

.cm-s-cobalt {
    &.CodeMirror, .CodeMirror-gutters {
        background: darken($bg, 10%);
        height: 100%;
    }
    span.cm-logic { color: #9a8fff; }
    span.cm-filter { color: #72e285; }
}

ul.CodeMirror-hints {
    border: none;
    border-radius: 0;
    background-color: $bg;
    li.CodeMirror-hint {
        color: $color;
        background-color: $bg;
        &.CodeMirror-hint-active {
            color: $color-selected;
            background-color: $bg-selected;
        }
    }
}

.ol-zoom {
    top: .5em;
    right: .5em;
    left: unset;
}

.ol-control {
    button {
        color: $color;
        background-color: $bg;
        &:focus, &:hover {
            color: $color;
            background-color: lighten($bg, 5%);
        }
    }
}

.mapboxgl-ctrl-group {
    border-radius: 0; 
    &.mapboxgl-ctrl {
        & > button {
            color: $color;
            background-color: $bg;
            border-color: $border;
            &:hover {
                color: $color;
                background-color: lighten($bg, 5%);
            }
        }
        .mapboxgl-ctrl-zoom-in {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath style='fill:%23ffffff;' d='M 10 6 C 9.446 6 9 6.4459904 9 7 L 9 9 L 7 9 C 6.446 9 6 9.446 6 10 C 6 10.554 6.446 11 7 11 L 9 11 L 9 13 C 9 13.55401 9.446 14 10 14 C 10.554 14 11 13.55401 11 13 L 11 11 L 13 11 C 13.554 11 14 10.554 14 10 C 14 9.446 13.554 9 13 9 L 11 9 L 11 7 C 11 6.4459904 10.554 6 10 6 z'/%3E %3C/svg%3E");
        }
        .mapboxgl-ctrl-zoom-out {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath style='fill:%23ffffff;' d='m 7,9 c -0.554,0 -1,0.446 -1,1 0,0.554 0.446,1 1,1 l 6,0 c 0.554,0 1,-0.446 1,-1 0,-0.554 -0.446,-1 -1,-1 z'/%3E %3C/svg%3E");
        }

        .mapboxgl-ctrl-compass {
            & > .mapboxgl-ctrl-compass-arrow {
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E %3Cpolygon fill='%23ffffff' points='6,9 10,1 14,9'/%3E %3Cpolygon stroke='%23ffffff' fill='transparent' points='6,11 10,19 14,11 '/%3E %3C/svg%3E");
            }
        }
    }
}
